.h3 {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.1px;
    text-align: center;
    color: rgba(37, 43, 66, 1);
    margin-bottom: 3rem;
}

.p {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    text-align: center;
    color: rgba(115, 115, 115, 1);
}

.name {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    text-align: center;
    color: rgba(35, 166, 240, 1);

}

.position {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    text-align: center;
    color: rgba(37, 43, 66, 1);

}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    gap: 4rem;
    margin: 7rem auto;

}

.review {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    gap: 0.5rem;
}

.experience {
    width: 100%;
    background-color: rgba(250, 250, 250, 1);
}

.picXp {
    width: 100%;
    height: 100%;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        padding: 1rem;
        gap: 2rem;
    }

    .review {
        gap: 0.5rem;
        margin-bottom: 2rem;
    }

    .experience{
        width: 100%;
    }
}